label {
    color: #1b3074;
    font-weight: bold;
    /* display: block;
    width: 150px;
    float: left; */
    }

h2 {
    text-align: center;
    color: rgb(91, 67, 158);
  }
  h3 {
   text-align: center;
   color: rgb(16, 102, 30);
 }
 
 h4 {
    text-align: center;
    color: rgb(143, 56, 16);
  }
  p {
    text-align: center;
    color: rgb(18, 9, 99);
  }
 
 li{
   text-align: center;
 
   color: #0b4479;
 }
 /* .header {
  padding: 10px;
  text-align: center;
} */
 .header img {
   float: left;
   width: 100px;
   height: 50px;
   position: relative;;
   }
   /* a:active {
    color: rgb(129, 51, 38);
  }
 
 a{
   text-align: center;
 
 }
 
  */
  a:visited {
    color: rgb(129, 12, 123);
  }
  
  a:hover {
    color: hotpink;
    text-decoration: underline;
    font-size:150%;
  
  } 
 .center-text {
   text-align: center;
 }
 
 
 .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #a9bcd1;
   color: #0b2a8f;
   text-align: center;
 }
 
 form { 
   display: block;
   margin-top: 0em;
   padding: 20px;
   width: 100%;
   float: center;
   border-radius: 4px;
   text-align: center;
 
 }
 #run {
    background-color: #ecf3ec;
    color: rgb(170, 36, 36);
  }
  
  #run:hover {
    background-color: #ecf3ec; 
    color: rgb(14, 88, 158); 
    /* border: 2px solid #9c3d20; */
  }
  
  
